<div class="padre">
  <div class="titulos">
    <p class="title">{{ title }}</p>
    <img
      class="ayuntamiento"
      src="../../../assets/img/ayuntamientoMadrid.PNG"
      alt=""
    />
  </div>
  <div class="logobusqueda">
    <div class="logo">
      <img src="../../../assets/img/logoMedialab.PNG" alt="" />
    </div>
    <div class="busqueda">
      <img src="../../../assets/img/busqueda.PNG" alt="" />
    </div>
  </div>
  <div class="menu">
    <div>
      <a href="">
        <p>MEDIALAB</p>
      </a>
    </div>
    <div>
      <a href="">
        <p>LABORATORIOS</p>
      </a>
    </div>
    <div>
      <a href="">
        <p>PROGRAMAS</p>
      </a>
    </div>
    <div>
      <a href="">
        <p>ACTIVIDADES</p>
      </a>
    </div>
    <div>
      <a href="">
        <p>MULTIMEDIA</p>
      </a>
    </div>
    <div>
      <a href="">
        <p>COMUNIDAD</p>
      </a>
    </div>
  </div>
</div>
